<nav class="navbar navbar-expand-lg position-fixed fh5co-nav" style="background-color: black"
     xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand" routerLink="">
    <img src="../../../assets/img/cut_text_logo3.jpg" height="46" width="235"/>
  </a>

  <div class="ml-auto px-4" id="navbarText">
    <a class="navbar-text lec-gold lec-gold-li" id="login-button" *ngIf="!this.username" style="cursor: pointer">
      <span [routerLink]="['/login']">Đăng nhập</span>
    </a>
    <!--admin-->
    <div class="navbar-text lec-gold lec-gold-li dropdown" *ngIf="this.role[0] == 'ROLE_ADMIN'" style="cursor: pointer">
        <span style="color: #e3cc6f"
              data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">Chào {{this.username}}</span>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item hover-item" data-toggle="modal" data-target="#exampleModal" style="color: #e3cc6f"
                  (click)="getOut()"> Đăng xuất </span>
        <span class="dropdown-item hover-item" routerLink="/editPass/{{this.username}}" style="color: #e3cc6f">Đổi mật khẩu</span>
        <span class="dropdown-item hover-item" routerLink="/feed-back-list/list" style="color: #e3cc6f">Quản lý phản hồi</span>
        <span class="dropdown-item hover-item" routerLink="/employee/list" style="color: #e3cc6f">Quản lý nhân viên</span>
        <span class="dropdown-item hover-item" routerLink="/order/list" style="color: #e3cc6f">Quản lý hóa đơn</span>
        <span class="dropdown-item hover-item" routerLink="/order/income" style="color: #e3cc6f">Quản lý doanh thu</span>
        <span class="dropdown-item hover-item" routerLink="/order/sale" style="color: #e3cc6f">Quản lý dịch vụ</span>
        <span class="dropdown-item hover-item" routerLink="/table" style="color: #e3cc6f">Quản lý bàn</span>
      </div>
    </div>
    <!--    employee-->
    <div class="navbar-text lec-gold lec-gold-li dropdown" *ngIf="this.role[0] == 'ROLE_USER'" style="cursor: pointer">
        <span style="color: #e3cc6f"
              data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">Chào {{this.username}}</span>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item hover-item" data-toggle="modal" data-target="#exampleModal" style="color: #e3cc6f"
                  (click)="getOut()"> Đăng xuất </span>
        <span class="dropdown-item hover-item" routerLink="/editPass/{{this.username}}" style="color: #e3cc6f">Đổi mật khẩu</span>
        <span class="dropdown-item hover-item" routerLink="/food-and-drink/list" style="color: #e3cc6f">Quản lý thực đơn</span>
        <span class="dropdown-item hover-item" routerLink="/order/sale" style="color: #e3cc6f">Quản lý dịch vụ</span>
        <span class="dropdown-item hover-item" routerLink="/order/list" style="color: #e3cc6f">Quản lý hóa đơn</span>
        <span class="dropdown-item hover-item" routerLink="/table" style="color: #e3cc6f">Quản lý bàn</span>
      </div>
    </div>
    <a class="navbar-text lec-gold lec-gold-li ml-2 " title="Xem menu" routerLink="/order/menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cup-fill" viewBox="0 0 16 16">
        <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8z"/>
      </svg>
    </a>
  </div>
</nav>
