<!--header navbar-->
<nav class="navbar navbar-expand-sm position-fixed fh5co-nav" style="background-color: #898383">
  <a class="navbar-brand lec-gold lec-gold-shop-name " href="#">
    <img src="assets/img/CO421G1_style6.jpg" alt="">
    <!--        C0421G1 COFFEE-->
  </a>
  <!-- Right -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link lec-gold lec-gold-li">Đăng nhập</a>
    </li>
    <li class="nav-item">
      <a class="nav-link lec-gold lec-gold-li" data-toggle="tooltip" data-placement="top" title="Menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-menu-button"
             viewBox="0 0 16 16"
             style="color: #e3cc6f;">
          <path
            d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
          <path
            d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </a>
    </li>
  </ul>
</nav>
<!--ảnh bìa-->
<div class="video-container">
<!--  <video autoplay muted loop >-->
<!--    <source src="./assets/img/video_header.mp4" type="video/mp4"/>-->
<!--    <source src="./assets/img/video_header.ogg" type="video/ogg"/>-->
<!--    Not support video-->
<!--  </video>-->

<!--  <video src="./assets/img/video_header_muted.mp4" type="video/mp4" autoplay muted loop></video>-->
  <div class="caption">
    <header id="fh5co-header" class="fh5co-cover js-fullheight  pt-5" role="banner"
            data-stellar-background-ratio="0.5">
      <!--    <div></div>-->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="display-t js-fullheight">
              <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                <img src="assets/img/C0421G1-logos_transparent.png" height="300" width="330" alt="" style="color: red">
                <h1 class="lec_gold lec_title_counter" style="line-height: 90px">
                  <span class="char1 lec_letter_E">E</span>
                  <span class="char2 lec_letter_n">n</span>
                  <span class="char3 lec_letter_j">j</span>
                  <span class="char4 lec_letter_o">o</span>
                  <span class="char2 lec_letter_y" id="y1">y</span>

                  <span class="char2 lec_letter_y" id="y2">y</span>
                  <span class="char3 lec_letter_o">o</span>
                  <span class="char3 lec_letter_u">u</span>
                  <span class="char3 lec_letter_r">r</span>

                  <span class="char3 lec_letter_L">L</span>
                  <span class="char3 lec_letter_i">i</span>
                  <span class="char3 lec_letter_f">f</span>
                  <span class="char3 lec_letter_e">e</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

<section style="margin-top: 80px">
  <!--    section-1: giới thiệu-->
  <section>
    <!--        màu nền đen-->
    <div class="lec_over" data-color="#000" data-opacity="0.05"
         style="background-color: rgb(0, 0, 0);opacity: 0.05;"></div>
    <div class="container-fluid text-center ">
      <div class="row ">
        <!--            ảnh-->
        <div class="col-lg-8 lec_animation_block big-img">
          <img src="assets/img/sl3.jpg" alt="">
          <!--                <img src="http://lecker.maskandesign.com/html/images/slider/sl3.jpg" width="100%" alt="">-->
        </div>
        <!--            text-->
        <div style="transform: translate3d(0px, 6.57358px, 0px);"
             class="col-lg-3 col-md-12 text-attack-img">
          <div class="align-text-middle">
            <h3 style="color: #e3cc6f; text-decoration: peru underline;">Vì sao cà phê tại CodeGym lại gây
              ghiền đến vậy?</h3>
            <!--                        <h3>Vì sao cà phê tại CodeGym lại gây ghiền đến vậy?</h3>-->
            <p>Nhiều người tìm đến cà phê không hẳn vì họ thích uống, mà khi thưởng thức cà phê giống như
              tìm
              kiếm những khoảnh khắc lắng đọng suy tư về cuộc sống và cảm nhận những giá trị riêng biệt.
            </p>
            <p>
              ❇ Tại CodeGym, 100% hạt cà phê nguyên chất được thu hái từ những vườn cà phê lâu năm, tỉ lệ
              sàng lọc hái
              chín trên 90%.
            </p>
            <p>💌 Với thông điệp “Thơm mềm một “chạm” gửi trọn yêu thương” chúng tôi mong rằng sự nỗ lực,
              tâm huyết của CodeGym sẽ chạm được đến được
              khẩu vị cà phê của tất cả khách hàng thân yêu kể cả những khách hàng khó tính nhất.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--    section2 - phong cách của chúng tôi - carousel-->
  <section class="section2-bg-img">
    <!--        text kiểu:-->
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="display-t js-fullheight">
          <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
            <!--                        <img src="img/coffee_logo.png" height="120" alt="">-->
            <h1 class="lec_gold lec_title_counter col-lg-12 col-md-12 col-sm-12">
              <span class="char1 lec_letter_S">S</span>
              <span class="char2 lec_letter_p">p</span>
              <span class="char2 lec_letter_e">e</span>
              <span class="char3 lec_letter_c">c</span>
              <span class="char4 lec_letter_i">i</span>
              <span class="char5 lec_letter_a">a</span>
              <span class="char2 lec_letter_l">l</span>
              <span class="char3 lec_letter_s">s</span>
              <!--                            <span class="char4 lec_letter_e">e</span>-->
            </h1>
            <div class="font-Dancing-script col-lg-12 col-md-12 col-sm-12">C0421G1 - Định hình phong cách</div>
          </div>
        </div>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="owl-dot carousel-indicators">
        <div data-target="#carouselExampleIndicators" data-slide-to="0" class="owl-dot active"><span></span>
        </div>
        <div data-target="#carouselExampleIndicators" data-slide-to="1" class="owl-dot"><span></span></div>
        <!--                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
      </div>
      <div class="carousel-inner">
        <!--                carousel-1: 3 ảnh-->
        <div class="carousel-item active data-interval='500">
          <div class="card-deck">
            <!--                        1-->
            <div class="card">
              <img src="assets/img/holiday_sunshine.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title text-gold">Holiday drink</h2>
                <p class="card-text">Nắng lên rồi, dậy đi thôi,</p>
                <p class="card-text">Qua CodeGym đón nắng chill chill thôi nào!</p>
                <!--                        <p class="card-text">Cà phê không thuộc đám đông ồn ào hối hả. Cà phê một mình càng đắng càng ngon</p>-->
                <!--                                <p class="card-text">60.000VND</p>-->
              </div>
            </div>
            <!--                        2-->
            <div class="card">
              <img src="assets/img/section2-img2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title text-gold">Monday coffee</h2>
                <p class="card-text">Hello tuần mới</p>
              </div>
            </div>
            <!--                        3-->
            <div class="card">
              <img src="assets/img/section2-img3.jpg" class="card-img-top justify-content-center" alt="...">
              <div class="card-body">
                <h2 class="card-title text-gold">Tuesday</h2>
                <p class="card-text">Tiếp thêm động lực, đương đầu thách thức</p>
                <p class="card-text">
              </div>
            </div>
          </div>
        </div>
        <!--                carousel-2-->
        <div class="carousel-item data-interval='500">
          <div class="card-deck">
            <!--                            4-->
            <div class="card">
              <img src="assets/img/coffe-bar_3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title text-gold">Thursday</h2>
                <p class="card-text">Cà phê trên tay, đánh bay xì-trét</p>
                <!--                        <p class="card-text">Cà phê không thuộc đám đông ồn ào hối hả. Cà phê một mình càng đắng càng ngon</p>-->
                <!--                                    <p class="card-text">60.000VND</p>-->
              </div>
            </div>
            <!--                            5-->
            <div class="card">
              <img src="assets/img/section2-img5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title text-gold">Wednesday</h2>
                <p class="card-text">Vượt chướng ngại vật</p>
                <!--                        <p class="card-text">Tách cà phê buổi sáng đầu tuần mang một niềm hứng khởi và sức mạnh mà tách trà buổi chiều không thể so sánh được</p>-->
                <!--                                    <p class="card-text">55.000VND</p>-->
              </div>
            </div>
            <div class="card">
              <img src="assets/img/section2-img6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title text-gold">Friday</h2>
                <p class="card-text">Xả hơi cuối tuần với những người bạn</p>
                <!--                        <p class="card-text">Tách cà phê buổi sáng đầu tuần mang một niềm hứng khởi và sức mạnh mà tách trà buổi chiều không thể so sánh được</p>-->
                <!--                                    <p class="card-text">55.000VND</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
              data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
              data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </section>

  <!--    SECTION-3-->
  <section class="section3">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="display-t js-fullheight">
          <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
            <!--        text kiểu: special product-->
            <h1 class="lec_gold lec_title_counter" style="margin-top: 90px">
              <span class="char1 lec_letter_S">S</span>
              <span class="char2 lec_letter_p">p</span>
              <span class="char2 lec_letter_e">e</span>
              <span class="char3 lec_letter_c">c</span>
              <span class="char4 lec_letter_i">i</span>
              <span class="char5 lec_letter_a">a</span>
              <span class="char2 lec_letter_l">l</span>
              <span class="char3 lec_letter_s">s</span>

              <span class="lec_letter_p" id="charP">p</span>
              <span class="char2 lec_letter_r">r</span>
              <span class="char2 lec_letter_o">o</span>
              <span class="char3 lec_letter_d">d</span>
              <span class="char4 lec_letter_u">u</span>
              <span class="char5 lec_letter_c">c</span>
              <span class="char2 lec_letter_t">t</span>
            </h1>
            <div class="font-Dancing-script" style="color: #491b1b;margin-bottom: 30px">Top <span
              class="badge badge-warning">5</span> order
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-5">
      <!--            carousel-->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active position-relative data-interval='1000'">
            <img src="assets/img/section-carousel-1.jpeg" class="d-block" width="100%" height="700px" alt="...">
            <div style="transform: translate3d(0px, 6.57358px, 0px);"
                 class="col-lg-4 col-md-12 text-attack-carousel position-absolute">
              <div class="align-text-carousel">
                <h2>Latte</h2>
                <h3>Hương vị hòa quyện</h3>
                <p>Sự kết hợp tuyệt vời giữa Espresso và sữa, một trong những loại
                  cà phê phổ biến nhất trên thế giới …
                </p>
                <p style="text-align: center">60.000VND</p>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative data-interval='1000'">
            <img src="assets/img/section-carousel-2.jpeg" class="d-block" width="100%" height="700px" alt="...">
            <div style="transform: translate3d(0px, 6.57358px, 0px);"
                 class="col-lg-4 col-md-12 text-attack-carousel position-absolute">
              <div class="align-text-carousel">
                <h2>Trứng dừa</h2>
                <h3>Kết hợp hoàn mỹ</h3>
                <p>Sự kết hợp tuyệt vời giữa Espresso và sữa, một trong những loại
                  cà phê phổ biến nhất trên thế giới …
                </p>
                <p style="text-align: center">120.000VND</p>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative data-interval='1000'">
            <img src="assets/img/section-carousel-3.png" class="d-block" width="100%" height="700px" alt="...">
            <div style="transform: translate3d(0px, 6.57358px, 0px);"
                 class="col-lg-4 col-md-12 text-attack-carousel position-absolute">
              <div class="align-text-carousel">
                <h2>Dalgona</h2>
                <h3>Sáng tạo ngọt ngào</h3>
                <p>Sự kết hợp tuyệt vời giữa Espresso và sữa, một trong những loại
                  cà phê phổ biến nhất trên thế giới …
                </p>
                <p style="text-align: center">90.000VND</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </section>

  <!--    SECTION-4: new menu-->
  <section class="section4-new" style="height: 750px;margin-top: 80px">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="display-t js-fullheight">
          <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
            <!--        text kiểu: special product-->
            <h1 class="lec_gold lec_title_counter" style="margin-top: 90px">
              <span class="char1 lec_letter_E">E</span>
              <span class="char2 lec_letter_x">x</span>
              <span class="char2 lec_letter_p">p</span>
              <span class="char2 lec_letter_l">l</span>
              <span class="char2 lec_letter_o">o</span>
              <span class="char2 lec_letter_r">r</span>
              <span class="char2 lec_letter_e">e</span>

              <span class="char3 lec_letter_N">N</span>
              <span class="char2 lec_letter_e">e</span>
              <span class="char2 lec_letter_w">w</span>

              <span class="char2 lec_letter_M">M</span>
              <span class="char2 lec_letter_e">e</span>
              <span class="char2 lec_letter_n">n</span>
              <span class="char4 lec_letter_u">u</span>
            </h1>
            <div class="font-Dancing-script" style="color: white;margin-bottom: 50px;line-height: 10px">Khám
              phá top <span class="badge badge-warning">5</span> món mới
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1"></div>

        <div class="col-lg-2 col-md-2">
          <img src="assets/img/section4-new-1.png" style="max-width: 100%; max-height: 300px">
          <h3>Cà phê dâu</h3>
        </div>
        <div class="col-lg-2 col-md-2">
          <img src="assets/img/section4-new-2.png" style="max-width: 100%; max-height: 300px">
          <h3>Cà phê hạt lựu</h3>
        </div>
        <div class="col-lg-2 col-md-2">
          <img src="assets/img/section4-new-3.png" style="max-width: 100%; max-height: 300px">
          <h3>Cơn lốc mùa hè</h3>
        </div>
        <div class="col-lg-2 col-md-2">
          <img src="assets/img/section4-new-4.png" style="max-width: 100%; max-height: 300px">
          <h3>Cà phê bia</h3>
        </div>

        <div class="col-lg-2 col-md-2">
          <img src="assets/img/section4-new-3.png" style="max-width: 100%; max-height: 300px">
          <h3>Rượu cà phê</h3>
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>
  </section>
</section>

<!--    SECTION-5: feedback-->
<section class="review" id="review">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="display-t js-fullheight">
        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
          <!--        text kiểu: special product-->
          <h1 class="lec_gold lec_title_counter" style="left: 20px;">
            <span class="char1 lec_letter_L">L</span>
            <span class="char2 lec_letter_o">o</span>
            <span class="char2 lec_letter_v">v</span>
            <span class="char3 lec_letter_e">e</span>

            <span class="char4 lec_letter_f">f</span>
            <span class="char5 lec_letter_r">r</span>
            <span class="char2 lec_letter_o">o</span>
            <span class="char2 lec_letter_m">m</span>

            <span class="char3 lec_letter_C">C</span>
            <span class="char2 lec_letter_u">u</span>
            <span class="char2 lec_letter_s">s</span>
            <span class="char3 lec_letter_t">t</span>
            <span class="char2 lec_letter_o">o</span>
            <span class="char3 lec_letter_m">m</span>
            <span class="char4 lec_letter_e">e</span>
            <span class="char5 lec_letter_r">r</span>
            <span class="char5 lec_letter_s">s</span>
          </h1>
          <div class="font-Dancing-script" style="color: #491b1b;margin-bottom: 40px;line-height: 20px">Khách yêu nói
            gì?
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper review-slider">

    <div class="swiper-wrapper row">

      <div class="swiper-slide box col-lg-3 col-sm-12">
        <i class="fas fa-quote-left"></i>
        <i class="fas fa-quote-right"></i>
        <img src="assets/img/caffe_sữa.jpg" class="img-feedback" alt="">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>Cake & Coffee của quán phải nói là đẹp và đỉnh ở khu trung tâm. Cả bánh và cafe đều rất ngon!Tuần nào cũng ít
          nhất phải
          một lần ghé quán không là cứ bị thương thương nhớ nhớ :))</p>
        <h3>Nhật Nhạt Nhẽo</h3>
        <span>Rất hài lòng</span>
      </div>

      <div class="swiper-slide box col-lg-3 col-sm-12 px-2">
        <i class="fas fa-quote-left"></i>
        <i class="fas fa-quote-right"></i>
        <img src="assets/img/session3-img3-greekCoffe.jpg" class="img-feedback" alt="">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>Để khởi động 1 tuần mới với nhiều cảm hứng sáng tạo trong công việc,
          C0421G1 luôn là ưu tiên số 1 với tôi. Greek coffee ngon đến tinh tế, thích cách pha chế cực nghệ của
          quán.</p>
        <h3>Quân Quăn</h3>
        <span>Rất hài lòng</span>
      </div>

      <div class="swiper-slide box col-lg-3 col-sm-12">
        <i class="fas fa-quote-left"></i>
        <i class="fas fa-quote-right"></i>
        <img src="assets/img/section2-img4.jpg" class="img-feedback" alt="">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>Không gian quán phong cách. Đồ ăn ngon lành, cái gì cũng được hết á :)). Hội bạn thân cuối tuần
          nào cũng tụ tập ở đây. The best choice cho những người yêu cà phê đích thực</p>
        <h3>Danh Hài</h3>
        <span>Rất hài lòng</span>
      </div>
    </div>

    <div class="swiper-pagination"></div>

  </div>

</section>

<!--Section 6: footer-->
<section class="footer">
  <div class="row box-container px-5" style="font-family: Dancing script, cursive; font-size: 20px">
    <!--    <div class="box-container col-md-8 col-sm-12">-->

    <div class="box col-lg-3 col-md-4 col-sm-6">
      <h3>Chi nhánh</h3>
      <a href="#"> <i class="fas fa-arrow-right"></i> Hà Nội </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Quảng Trị </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Huế </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Đà Nẵng </a>
    </div>

    <div class="box col-lg-3 col-md-4 col-sm-6">
      <h3>Kết nối</h3>
      <a href="https://www.facebook.com/codegymdanang/"> <i class="fab fa-facebook-f text-primary"></i> facebook </a>
      <a href="#"> <i class="fab fa-youtube" style="color: red"></i> youtube </a>
      <a href="#"> <i class="fab fa-instagram" style="color: #d71ad7"></i> instagram </a>
      <a href="#"> <i class="fab fa-tiktok" style="color: #7abaff"></i> tiktok </a>
    </div>

    <!--    </div>-->

    <div class="col-md-4 col-sm-12 pt-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7486098192107!2d108.20737595348163!3d16.07852989002556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421846431fd0fd%3A0x780138ba60fa3aa6!2zMjk1IE5ndXnhu4VuIFThuqV0IFRow6BuaCwgVGhhbmggQsOsbmgsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDA!5e0!3m2!1svi!2s!4v1636671158156!5m2!1svi!2s"
        width="400" height="250" style="border:0;" allowfullscreen=""
        loading="lazy"></iframe>
    </div>
    <div class="credit col-lg-12 col-sm-12" style="margin-top: 0; padding: 0">
      <img src="assets/img/C0421G1-logos_transparent.png" height="240" width="260" alt="">
      <p style="color: #e3cc6f;">Thơm mềm 1 chạm, Gửi trọn đam mê!!!</p>
      <!--            C0421G1 hân hạnh được phục vụ!!!-->
    </div>

    <audio autoplay>
      <source src="./assets/img/audio_homepage.mp3" type="audio/mp3">
      <!--      <source src="./src/assets/img/audio_homepage.mp3" type="audio/ogg">-->
      <!--      <source src="./src/assets/img/audio_homepage.mp3" type="audio/mpeg">-->
      <source src="https://pixabay.com/music/search/genre/cafe/" type="audio/ogg">
      <source src="https://pixabay.com/music/search/genre/cafe/" type="audio/mpeg">
    </audio>
  </div>
</section>

<!--Back to top-->
<button class="btn-outline-warning" id="back-to-top-btn">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up"
       viewBox="0 0 16 16" style="color: white;font-weight: bolder">
    <path fill-rule="evenodd"
          d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
    <path fill-rule="evenodd"
          d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
  </svg>
</button>



