<form class="login-form"  (ngSubmit)="sendEmail(email.value)">
  <h1 class="text-white text-center">Lấy lại mật khẩu</h1>
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input type="text" class="email mt-1 mb-1" autofocus required="true"
         placeholder="Nhập email của tài khoản" style="text-align: center" #email/>
  <div class="row d-flex justify-content-center">
    <div>
      <input type="submit" name="Login" value="Xác nhận" class="login-submit rounded float-left mr-1" style="width: 100px"/>

      <input type="button" [routerLink]="'/'" name="Login" value="Trở lại" class="login-submit rounded float-right ml-1"
             style="width: 100px"/>
    </div>
  </div>
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
<ngx-loading [show] = "loading" [config] = "{ backdropBorderRadius: '3px' }"></ngx-loading>
