<div class="container-fluid" id="background" style="margin-bottom: -80px; margin-top: 80px; min-height: 700px;min-width: 1000px">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 mt-5" style="background-color: white; border: solid black 2px; border-radius: 25px">
      <h1 class="mt-3" style="color: #e3cc6f; font-size: 25px">Sửa Thông tin bàn</h1>
      <form [formGroup]="tableForm" *ngIf="tableForm" (ngSubmit)="update()"  style="font-size: 20px">
        <div class="form-row" >
          <div class="form-group inputSize col-lg-12">
            <label  class="font-weight" style="color: #e3cc6f">
              Mã số bàn
              <span style="color: red">*</span> :
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img src="assets/icon/emoji_food_beverage_black_24dp.svg" alt="">
                </div>
              </div>
              <input readonly type="text" class="form-control" formControlName="tableCode"
                     placeholder="VD: TB-0001">
            </div>
            <small
              *ngIf="tableForm.controls.tableCode.errors?.required && tableForm.controls.tableCode.touched"
              class="text-danger">Vui lòng nhập thông tin
            </small>
            <small
              *ngIf="tableForm.controls.tableCode.errors?.pattern && tableForm.controls.tableCode.touched"
              class="text-danger">Mã bàn phải đúng ký tự TB-xxxx
            </small>
          </div>
          <div class="form-group inputSize col-lg-12">
            <label  class="font-weight" style="color: #e3cc6f">
              Số lượng người tối đa trong một bàn
              <span style="color: red">*</span> :
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img src="assets/icon/emoji_food_beverage_black_24dp.svg" alt="">
                </div>
              </div>
              <input type="text" class="form-control" formControlName="maximumCapacity"
                     placeholder="VD: 5">
            </div>
            <small
              *ngIf="tableForm.controls.maximumCapacity.errors?.required && tableForm.controls.maximumCapacity.touched"
              class="text-danger">Vui lòng nhập thông tin
            </small>
            <small
              *ngIf="tableForm.controls.maximumCapacity.errors?.pattern && tableForm.controls.maximumCapacity.touched"
              class="text-danger">số lượng lớn hơn 0 và nhỏ hơn 20.
            </small>
          </div>
          <div class="form-group inputSize col-lg-12">
            <label  class="font-weight" style="color: #e3cc6f">
              Vị trí bàn
              <span style="color: red">*</span> :
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img src="assets/icon/emoji_food_beverage_black_24dp.svg" alt="">
                </div>
              </div>
              <input type="text" class="form-control" formControlName="location"
                     placeholder="VD: Tang-1">
            </div>
            <small
              *ngIf="tableForm.controls.location.errors?.required && tableForm.controls.location.touched"
              class="text-danger">Vui lòng nhập thông tin
            </small>
            <small
              *ngIf="tableForm.controls.location.errors?.pattern && tableForm.controls.location.touched"
              class="text-danger">Vị trí phải chỉ rõ bàn thêm vào ở tầng nào Vd:Tang-1
            </small>
          </div>
          <div class="form-group inputSize col-lg-12">
            <label  class="font-weight" style="color: #e3cc6f">
              Trạng thái
              <span style="color: red">*</span> :
            </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Tốt" checked formControlName="tableStatus">
              <label class="form-check-label" for="gridRadios1">
                Tốt
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Hỏng" formControlName="tableStatus">
              <label class="form-check-label" for="gridRadios3">
                Hỏng
              </label>
            </div>
          </div>
          <div class="form-group inputSize" col-lg-12>
            <label  class="font-weight" style="color: #e3cc6f">
              Trống
              <span style="color: red">*</span> :
            </label>
            <div class="custom-control custom-switch">
              <input type="checkbox" [checked]="table.availableFlag" [value]="table.availableFlag" class="custom-control-input" id="customSwitch1" formControlName="availableFlag">
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </div>
        </div>
        <div class="float-right mb-4">
          <button type="reset" class="btn btn-warning mr-2" [routerLink]="['/table']">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                 viewBox="-2 1 24 27" width="24px" fill="#000000">
              <g>
                <path d="M0,0h24v24H0V0z" fill="none"/>
              </g>
              <g>
                <g>
                  <path
                    d="M6,13c0-1.65,0.67-3.15,1.76-4.24L6.34,7.34C4.9,8.79,4,10.79,4,13c0,4.08,3.05,7.44,7,7.93v-2.02 C8.17,18.43,6,15.97,6,13z M20,13c0-4.42-3.58-8-8-8c-0.06,0-0.12,0.01-0.18,0.01l1.09-1.09L11.5,2.5L8,6l3.5,3.5l1.41-1.41 l-1.08-1.08C11.89,7.01,11.95,7,12,7c3.31,0,6,2.69,6,6c0,2.97-2.17,5.43-5,5.91v2.02C16.95,20.44,20,17.08,20,13z"/>
                </g>
              </g>
            </svg>
            Quay lại
          </button>
          <button type="submit" [disabled]="tableForm.invalid" class="btn btn-info" style="color: black">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                 viewBox="-2 1 24 27" width="24px" fill="#000000">
              <rect fill="none" height="24" width="24"/>
              <path
                d="M12,9L12,9c0.55,0,1-0.45,1-1V6h2c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1h-2V2c0-0.55-0.45-1-1-1h0c-0.55,0-1,0.45-1,1v2H9 C8.45,4,8,4.45,8,5v0c0,0.55,0.45,1,1,1h2v2C11,8.55,11.45,9,12,9z M7,18c-1.1,0-1.99,0.9-1.99,2S5.9,22,7,22s2-0.9,2-2S8.1,18,7,18 z M17,18c-1.1,0-1.99,0.9-1.99,2s0.89,2,1.99,2s2-0.9,2-2S18.1,18,17,18z M8.1,13h7.45c0.75,0,1.41-0.41,1.75-1.03l3.24-6.14 c0.25-0.48,0.08-1.08-0.4-1.34v0c-0.49-0.27-1.1-0.08-1.36,0.41L15.55,11H8.53L4.27,2H2C1.45,2,1,2.45,1,3v0c0,0.55,0.45,1,1,1h1 l3.6,7.59l-1.35,2.44C4.52,15.37,5.48,17,7,17h11c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H7L8.1,13z"/>
            </svg>
            Cập nhật
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
