<div class="container-fluid">
  <div style="background-color: #e3cc6f">
    <h5 class="text-center">Xóa nhân viên</h5>
  </div>
  <div class="text-dark">
    <h5 class="card-title">Xác nhận xoá {{data.object}}:</h5>
    <p class="card-text mb-1">Tên: <span class="text-primary font-weight-bold">{{data.name}}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
      STT: <span class="text-primary font-weight-bold">{{data.id}}</span></p>
    <small class="text-danger w-100 pt-1">Hành động này không thể hoàn tác</small>
  </div>
  <div>
    <div class="float-right">
      <button class="btn m-1 pl-1 pr-1 text-white" style="background-color: black" mat-button mat-dialog-close="">
        Huỷ
      </button>
      <button class="btn m-1 pl-1 pr-1 text-white"  style="background-color: red" mat-button mat-dialog-close="true">
        Đồng ý
      </button>
    </div>
  </div>
</div>

