<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


</head>
<body>
<div class="container-fruid">
  <div class="row ">
    <div class="col-2">
      <div class="row">
        <div class="col-12">


          <ul class="list-group" *ngFor="let objCategory of ListCategory">

            <li class="list-group-item"><a class="list-food" (click)="getAllFoodTheoIdCategory(objCategory.categoryId)"
                                           style="color: black"><span></span>{{objCategory.categoryName}}
            </a>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="row">

        <div class="col-md-12">

          <div class="row row-cols-1 row-cols-md-2" style="margin-top: -15px">

            <div class="col"
                 *ngFor="let objFood of FoodAndDrink |  paginate:{itemsPerPage:4,  currentPage:page,totalItems:totalLength} "
                 style="">

              <div class="card" style="margin-top: 15px">
                <img [src]="objFood.fadImage" class="card-img-top" alt="..." width="230px" height="250px">
                <div class="card-body">
                  <h5 class="card-title">{{objFood.fadName}}</h5>
                  <p class="card-text"><span>Thời gian chờ: </span>{{objFood.fadWaitTime}} phút</p>
                  <p class="card-text"><span class="money" style="color: red">Giá: </span>{{objFood.fadPrice}}
                    VND</p>
                </div>

                <button class="btn btn-warning" (click)="addToCart(objFood)">Thêm <img
                  src="assets/icon/icon/add_shopping_cart_white_24dp.svg" alt=""></button>

              </div>

            </div>
            <nav aria-label="Page navigation example" style="margin-top: 25px;margin-left: auto;margin-right: auto">
              <ul class="pagination">
                <li>
                  <pagination-controls (pageChange)="page = $event "
                                       style="background: black;color: white"></pagination-controls>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="row">

        <table class="table table-hover table-dark text-center">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên món</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Thời gian chờ</th>
            <th scope="col" *ngIf="checkDelete == false">Active</th>

          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let objFood of product;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td style="max-width: 100px">{{objFood.fadName}}</td>
            <td>
              <button (click)="truCart(objFood)" class="btn btn-warning">Giảm</button>
              {{objFood.quantity}}
              <button (click)="addToCart(objFood)" class="btn btn-warning">Tăng</button>
            </td>
            <td>{{objFood.fadPrice}}</td>
            <td>{{objFood.total}}</td>
            <td>
              <countdown #countdown [config]="{leftTime:objFood.fadWaitTime}" *ngIf="check == true else blockTime"></countdown>
            </td>


              <ng-template #blockTime><countdown  [config]="{leftTime:objFood.fadWaitTime,demand:true}" ></countdown></ng-template>


            <td>

              <button type="button" class="btn btn-danger"
                      (click)="removeCartDialog(objFood.fadId,objFood.fadName,objFood.quantity,objFood)" *ngIf="checkDelete == false"><img
                src="assets/icon/icon/delete_sweep_black_24dp.svg" alt=""></button>

            </td>

          </tr>
          </tbody>

        </table>

        <nav>
          <button type="button" class="btn btn-info"
                  (click)="newOrderDetail()"
                  (click)="getCallFood(table,table.tableId)"  *ngIf="product != null">Gọi Món
            <img src="/assets/icon/icon/local_dining_black_24dp.svg" alt="">
          </button>
        </nav>

        <!--        <nav aria-label="Page navigation example"-->
        <!--             style="margin-top: 25px;margin-left: auto;margin-right: auto">-->
        <!--          <ul class="pagination">-->
        <!--            <li class="page-item"><a class="page-link" href="#"><img-->
        <!--              src="assets/icon/icon/skip_previous_black_24dp.svg" alt="" width="16px"></a></li>-->
        <!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
        <!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
        <!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <!--            <li class="page-item"><a class="page-link" href="#"><img-->
        <!--              src="assets/icon/icon/skip_next_black_24dp.svg" alt="" width="16px"></a></li>-->

        <!--          </ul>-->

        <!--        </nav>-->

        <nav>
          <button class="btn btn-success " style="margin-left: 65px;margin-top: -5px;width: auto;margin-left: 500px"
                  (click)="getCallPay(table,table.tableId)"  *ngIf="check === true">{{thanhtoan}} <img
            src="assets/icon/icon/paid_black_24dp.svg" alt=""></button>
        </nav>



      </div>


      <div class="row" style="margin-top: 25px">
        <div class="col-md-3">
          <p style="color: tan">Số bàn: <span style="color: Yellow">{{table.tableCode}}</span></p><br/>

          <p style="color: tan">Ngày: <span style="color: Yellow">{{dateNow}} </span></p>
        </div>

        <div class="col-4">


          <button type="button" class="btn " style="background: #F781F3"
                  (click)="getCallEmp(table,table.tableId)">{{phucVu}} <img
            src="assets/icon/icon/support_agent_black_24dp.svg" alt="">

          </button>


          <button class="btn btn-secondary btn-feedbkack" style=";margin-top: 18px;width: 132px">Phản
            hồi <img src="assets/icon/icon/feedback_black_24dp.svg" alt="">
          </button>


        </div>
      </div>
    </div>
  </div>
</div>

<!--<button>Card</button>-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>
