<div class="container-fluid body-custom" style="margin-top: 80px; margin-bottom: -80px; min-height: 140vh">
  <div class="row">
    <div class="col-lg-12"  style="margin-top: 30px">
    <form class="form-inline my-2 my-lg-0" style=" margin-left: 450px">
      <input class="form-control mr-sm-2" type="search" placeholder="Nhập tên đồ uống cần tìm" aria-label="Search"
             (change)="valueInput($event)" style="width: 400px">
      <button class="btn btn-warning my-2 my-sm-0" type="submit" (click)="searchFoodAndDrinkAndMoney()" style="height: 40px"> Tìm kiếm
      </button>
    </form>
    </div>
  </div>
  <div class="row " style="margin-left: 20px">
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <ul class="list-group" *ngFor="let objCategory of ListCategory">

            <li class="list-group-item"><a class="list-food" (click)="getAllFoodTheoIdCategory(objCategory.categoryId)"
                                           style="color: black"><span></span>{{objCategory.categoryName}}
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-md-12">
          <div class="row row-cols-1 row-cols-md-2" style="margin-top: -15px">
            <div class="col"
                 *ngFor="let objFood of FoodAndDrink |  paginate:{itemsPerPage:4,  currentPage:page,totalItems:totalLength} "
                 style="">
              <div class="card" style="margin-top: 15px">
                <img [src]="objFood.fadImage" class="card-img-top" alt="..." style="width: 250px">
                <div class="card-body">
                  <h5 class="card-title">{{objFood.fadName}}</h5>
                  <p class="card-text"><span>Thời gian chờ: </span>{{objFood.fadWaitTime}} phút</p>
                  <p class="card-text"><span class="money" style="color: red">Giá: </span>{{objFood.fadPrice}}
                    VND</p>
                </div>

                <button class="btn btn-warning" (click)="addToCart(objFood)">Thêm <img
                  src="assets/icon/icon/add_shopping_cart_white_24dp.svg" alt=""></button>

              </div>

            </div>
            <nav aria-label="Page navigation example" style="margin-top: 25px; margin-left: 40px; min-width: 110%">
              <ul class="pagination">
                <li>
                  <pagination-controls (pageChange)="page = $event "
                                       style="background: black;color: white"></pagination-controls>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">

      <p style="color: tan;font-size: 30px;text-align: center">Số bàn: <span
        style="color: Yellow">{{table.tableCode}}</span></p><br/>

      <p style="color: tan;font-size: 30px;text-align: center">Ngày: <span style="color: Yellow">{{dateNow}} </span></p>
      <div class="row">
        <button class="btn btn-secondary btn-feedbkack" style=";margin-top: -18px;width: 132px" (click)="openDialogCreateFeedBack()">Phản
          hồi <img src="assets/icon/icon/feedback_black_24dp.svg" alt="" >
        </button>
        <table class="table table-hover table-dark text-center">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên món</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Thời gian chờ</th>
            <th scope="col" *ngIf="checkDelete == false">Active</th>

          </tr>
          </thead>
          <tbody *ngIf="product != null else block">

          <tr *ngFor="let objFood of product;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td style="max-width: 100px">{{objFood.fadName}}</td>
            <td>
              <button (click)="truCart(objFood)" class="btn btn-warning">Giảm</button>
              {{objFood.quantity}}
              <button (click)="addToCart(objFood)" class="btn btn-warning">Tăng</button>
            </td>
            <td>{{objFood.fadPrice}}</td>
            <td>{{objFood.total}}</td>
            <td>
              <countdown #countdown [config]="{leftTime:objFood.fadWaitTime}"
                         *ngIf="check == true else blockTime"></countdown>
            </td>


            <ng-template #blockTime>
              <countdown [config]="{leftTime:objFood.fadWaitTime,demand:true}"></countdown>
            </ng-template>


            <td>

              <button type="button" class="btn btn-danger"
                      (click)="removeCartDialog(objFood.fadId,objFood.fadName,objFood.quantity,objFood)"
                      *ngIf="checkDelete == false"><img
                src="assets/icon/icon/delete_sweep_black_24dp.svg" alt=""></button>

            </td>

          </tr>
          </tbody>

          <ng-template #block>
            <span
              style="text-align: center;margin-left: auto;margin-right: auto;font-size: 25px">Giỏ hàng đang trống</span>
          </ng-template>

        </table>


        <nav>
          <ul>
            <li style="margin-top: 20px">
              <button type="button" class="btn " style="background: #F781F3;width: 140px"
                      (click)="getCallEmp(table,table.tableId)">{{phucVu}} <img
                src="assets/icon/icon/support_agent_black_24dp.svg" alt="">

              </button>
            </li>
            <li style="margin-top: 20px">
              <button type="button" class="btn btn-info"
                      (click)="newOrderDetail()"
                      (click)="getCallFood(table,table.tableId)" *ngIf="product != null" style="width: 140px">Gọi Món
                <img src="/assets/icon/icon/local_dining_black_24dp.svg" alt="">
              </button>
            </li>
            <li style="margin-top: 20px">
              <button class="btn btn-success" style="width: 140px"
                      (click)="getCallPay(table,table.tableId)" *ngIf="check === true">{{thanhtoan}} <img
                src="assets/icon/icon/paid_black_24dp.svg" alt=""></button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row" style="margin-top: 25px">
        <div class="col-md-3">
        </div>
        <div class="col-4">

        </div>
      </div>
    </div>
  </div>
</div>

