
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {

  /*font-family: 'Patrick Hand';*/
  margin: 0;
  padding: 0;
}

.body-custom {
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  font-family: 'Dancing Script';
  max-width: 100%;


}

.container-fruid {

}

header {
  width: 100%;
  height: 85px;

}

header ul {

}

header nav ul li {

}
.form-control{
  width: 250px;
}
.navbar {
  height: 85px;
}

.navbar .nav-item {
  margin-left: 35px;
  font-size:20px ;
}
.navbar .nav-item .nav-link:hover{
  /*color: red;*/
  color:rgb(242, 159, 141);
}
header ul li:hover {
  color: rgb(224, 53, 110);
}
.row{
  margin-top: 15px;
}
.list-group .list-food{
  text-decoration: none;
}
.list-group-item{
  /*background-image: url("./a.jpg");*/
  background-color: blanchedalmond;
}

.list-group .list-food:hover{
  color: red;

}
.list-group{
  width: 250px;
}
.list-group .list-group-item .icon-category:hover{
  transform: rotate(30deg);
  margin-left: 45px;
  position: absolute;

}
.list-group .list-group-item .icon-category-two:hover{
  transform: rotate(30deg);
  margin-left: 95px;
  position: absolute;

}
.list-group-item:hover{
  background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
  margin-left:-2px;

}
.money{
  color: brown;
}
.tien{
  color: red;
}
/*.img-product{*/
/*  width: 100%;*/
/*  height: 158px;*/
/*}*/
.choose {
  background: radial-gradient(755px at 10.1% 95.3%, rgb(242, 188, 141) 0%, rgb(242, 159, 141) 100.2%);
}
.btn-primary{

}
.btn-secondary{
  width: 105px;
}

.btn-add {
  margin-left: 25px;


}
.btn-add img{
  transition: all 1.1s ease-in-out;
}
.btn-add img:hover{
  transform: rotate(360deg);
}
.card{
  background: linear-gradient(89.9deg, rgb(208, 246, 255) 0.1%, rgb(255, 237, 237) 47.9%, rgb(255, 255, 231) 100.2%);
}
.page-link{
  color: black;
}
.modal-content{
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.BL3Po8C10pnqT1Q_CtvVagHaEK&pid=Api&P=0&w=291&h=164");
  background-repeat: no-repeat;
  background-size: cover;
}
span{
  color: red;;
}

