@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



button {
  margin-left: 20px;
  font-family: 'Dancing Script', cursive;
}

fieldset {
  border-radius: 50px;
  /*#868080*/
}

.inputSize {
  margin: 1px 50px 1px 50px;
}

label {
  font-family: 'Patrick Hand', cursive;
  color: #d4b955;
  font-size: 25px;

}
small {
  font-family: 'Patrick Hand', cursive;
  color: #e82b2b;
  font-size: large;
}
h2 {
  font-weight: bold;
}
h3{
  font-weight:  bolder;
}
