@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


td {
  padding-left: 100px;
  font-weight: bolder;
}

span {
  padding-left: 200px
}

button {
  margin-left: 20px;
  font-family: 'Dancing Script', cursive;
}

fieldset {
  border-radius: 50px;
  /*#868080*/
}

.inputSize {
  margin: 1px 50px 1px 50px;
}

label {
  font-family: 'Patrick Hand', cursive;
  color: white
}
small {
  font-family: 'Patrick Hand', cursive;
  color: wheat
}
