<div class="container-fluid" style="margin-top: 80px; margin-bottom: -80px; min-height: 160vh">
  <h1 align="center" style="color: #e3cc6f; margin-top: 30px">Quản lý thông tin nhân viên</h1>
  <div class="row d-flex justify-content-end" style="margin-right: 40px">
    <div class="col-lg-12 d-flex justify-content-end">
      <form [formGroup]="searchForm" (ngSubmit)="searchAllEmployee(0); setPage()" class="row">
        <div class="col-lg-3">
          <input type="text" class="form-control m-2" placeholder="Tìm tên tài khoản" aria-describedby="basic-addon1" formControlName="username">
        </div>
        <div class="col-lg-3">
          <input type="text" class="form-control m-2" placeholder="Tìm tên nhân viên" aria-describedby="basic-addon1" formControlName="nameEmployee">
        </div>
        <div class="col-lg-3">
          <input type="text" class="form-control m-2" placeholder="Tìm số điện thoại" aria-describedby="basic-addon1" formControlName="phone">
          <div style="margin-left: 10px" *ngFor="let validation of validateMsg.phone">
            <p style="color: red"  *ngIf="this.searchForm.get('phone').hasError(validation.type)">{{validation.message}}</p>
          </div>
        </div>
        <div class="col-lg-3">
          <button type="submit" class="btn btn-warning d-flex justify-content-center" style="margin-top: 9px" data-toggle="tooltip" >
            <img src="/assets/img/manage_search_black_24dp.svg" alt="">
            Tìm kiếm
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" style="margin-top: 50px">
    <div class="col-lg-12" style=" padding-left: 50px; padding-right: 50px">
      <div class="table-responsive-lg" style="margin: 0 auto">
        <button class="btn btn-warning mb-2" data-toggle="tooltip">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-person-plus m-0" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd"
                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
          Thêm mới
        </button>
        <table class="table table-dark table-hover">
          <thead style="text-align: center">
          <tr>
            <th>STT</th>
            <th>Tên tài khoản</th>
            <th>Họ và tên</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Lương (VND)</th>
            <th>Vị trí</th>
            <th>Chức năng</th>

          </tr>
          </thead>
          <tbody style="text-align: center">
          <tr *ngFor="let item of employees">
            <td>{{item.employeeId}}</td>
            <td>{{item.account.accountUsername}}</td>
            <td>{{item.employeeName}}</td>
            <td>{{item.employeeAddress}}</td>
            <td>{{item.employeePhone}}</td>
            <td>{{item.employeeGender == 1 ? "Nam" : (item.employeeGender == 0 ? "Nữ" : "Khác")}}</td>
            <td>{{item.employeeBirthday | date:"dd/MM/yyyy"}}</td>
            <td>{{item.employeeSalary | currency: "VND": "":"": "vi"}}</td>
            <td>{{item.level.levelName}}</td>
            <td>
              <button class="btn btn-warning text-white" data-toggle="tooltip" placement="right"
                      title="Chỉnh sửa" >
                <img src="/assets/img/edit_note_black_24dp.svg" alt="">
              </button>
              <button class="btn btn-warning text-white ml-1 " data-toggle="tooltip" placement="right"
                      title="Sửa mật khẩu">
                <img src="/assets/img/vpn_key_black_24dp.svg" alt="">
              </button>
              <button class="btn btn-warning text-white ml-1 " data-toggle="tooltip" placement="right"
                      title="Xoá" (click)="openDialogDelete(item.employeeId, item.employeeName)">
                <img src="/assets/img/delete_sweep_black_24dp.svg" alt="">
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-lg-3">
    <div class="col-6">
      <nav aria-label="Pagination" class="d-flex align-items-center justify-content-end">
        <ul class="pagination">
          <li class="page-item" style="height: 40px">
            <a class="page-link pagination-item" aria-label="Previous" (click)="previousPage()">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 0 24 24" width="21px"
                         fill="#000000"><path
                      d="M7 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1zm3.66 6.82l5.77 4.07c.66.47 1.58-.01 1.58-.82V7.93c0-.81-.91-1.28-1.58-.82l-5.77 4.07c-.57.4-.57 1.24 0 1.64z"/></svg>
                </span>
            </a>
          </li>
          <li class="page-item" style="height: 40px">
            <p class="page-link pagination-item text-dark">{{currentPage+1}}/{{totalPage}}</p>
          </li>
          <li class="page-item" style="height: 40px">
            <a class="page-link pagination-item" aria-label="Next" (click)="nextPage()">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 0 24 24" width="21px"
                         fill="#000000"><path
                      d="M7.58 16.89l5.77-4.07c.56-.4.56-1.24 0-1.63L7.58 7.11C6.91 6.65 6 7.12 6 7.93v8.14c0 .81.91 1.28 1.58.82zM16 7v10c0 .55.45 1 1 1s1-.45 1-1V7c0-.55-.45-1-1-1s-1 .45-1 1z"/></svg>
                </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-6">
      <nav aria-label="Pagination" class="d-flex align-items-center justify-content-start">
        <ul class="pagination">
          <li class="page-item" style="height: 40px">
            <div class="input-group pagination-item">
              <input type="text" class="form-control" placeholder="Tới trang..." #page
                     style="width: 100px;height: 40px">
              <div class="input-group-append d-flex">
                <button class="btn btn-warning" (click)="toPage(page.value)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                       width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path
                      d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                  </svg>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
