@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
  color: white;
  font-family: 'Patrick Hand', cursive;
}
h4 {
  text-align: center;
}
.cardItem {
  border: none;
  align-items: center;
  width: 150px;
  height: 180px;
  margin: 20px;
}



@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 0.8s infinite;
  -moz-animation: flickerAnimation 0.8s infinite;
  -o-animation: flickerAnimation 0.8s infinite;
  animation: flickerAnimation 0.8s infinite;
}

img:hover{
  transform: scale(1.25);
}

img {
   max-width: 120px; height: 70px;
   transition: transform .5s;
   padding-left: 30px;
 }

button{
  font-weight: bold;
}

button:hover{
  transform: scale(1.2);
}

button svg:hover, a svg:hover{
  transition: width 2s, height 2s, transform 1s;
  transform: rotate(-360deg);
}
table {
  text-align: center;
  vertical-align: middle;
  max-width: 90%;
}

table th{
  font-size: 25px;
}

table td{
  font-size: 20px;
}

li, input, button {
  margin: 2px;
}

.sale-screen {
  background-image: url(/assets/img-TaiHVK/pexels-octavio-gómez-8414072.jpg);
  min-height: 110vh;
  background-size: cover;
  margin-top: 80px;
  margin-bottom: -80px;
}

.marquee-parent {
  width: 100%;
  overflow: hidden;
  height: 150px;
}
.marquee-child {
  display: block;
  width: 450px;
  /* width of your text div */
  height: 100px;
  /* height of your text div */
  position: absolute;
  animation: marquee 13s linear infinite; /* change 5s value to your desired speed */
}
.marquee-child:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -500px /* same as your text width */
  }
}


.blink{
  height:400px;
  margin-left: 20px;
  animation: blink 5s infinite;
}
@keyframes blink{
  0% {
    color: saddlebrown;
  }
  10% {
    color: slategray;
  }
  20% {
    color: saddlebrown;
  }
  30% {
    color: slategray;
  }
  40% {
    color: saddlebrown;
  }
  50% {
    color: slategray;
  }
  60% {
    color: saddlebrown;
  }
  70% {
    color: slategray;
  }
  80% {
    color: saddlebrown;
  }
  90% {
    color: slategray;
  }
  100% {
    color: saddlebrown;
  }
}

@-webkit-keyframes blink{
  0% {
    color: saddlebrown;
  }
  10% {
    color: slategray;
  }
  20% {
    color: saddlebrown;
  }
  30% {
    color: slategray;
  }
  40% {
    color: saddlebrown;
  }
  50% {
    color: slategray;
  }
  60% {
    color: saddlebrown;
  }
  70% {
    color: slategray;
  }
  80% {
    color: saddlebrown;
  }
  90% {
    color: slategray;
  }
  100% {
    color: saddlebrown;
  }
}
