/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*for snackbar*/
.error.mat-snack-bar-container{
  min-width: 250px;
  background-color: #c82333;
  color: white;
}
.success.mat-snack-bar-container{
  min-width: 250px;
  background-color: #35a028;
  color: white;
}

.mat-dialog-container {
  background-color: white !important;
  color: black !important;
}

