@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

#tbDetail {
  border-radius: 50px;
  color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.modal-user {
  border-radius: 20px;
}

.item {
  /*font-weight: bolder;*/
  font-size: 20px;
}

button {
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
}

#tdDetail{
  text-align: center;
}
