@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.tdDetail {
  padding-left: 100px;
  font-weight: bolder;
  font-size: 22px ;
}

#btDetail {margin-left: 20px;}
#btDetail1 {
  margin-left: 20px;
}
#tbDetail {
  border-radius: 50px;
  color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
  height: 600px;
}

