<!--<div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content modal-user" style="font-family: 'Dancing Script', cursive;-->
<!--  background-image: url('assets/detail-bg_cleanup.png');-->
<!--  color: #d4b955;-->
<!--  background-size: cover;">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title" id="exampleModalLabel" style="margin-left: 30%"><strong>Xem chi tiết</strong></h1>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div>-->
<!--          <table id="text-center">-->
<!--            <tr>-->
<!--              <td class="text-center item">Tài khoản</td>-->
<!--              <td class="text-center">{{employee.account.accountUsername}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Họ và tên</td>-->
<!--              <td class="text-center">{{employee.employeeName}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Địa chỉ</td>-->
<!--              <td class="text-center">{{employee.employeeAddress}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Giới tính</td>-->
<!--              <td class="text-center" [ngSwitch]="employee.employeeGender">-->
<!--                <span id="sp" class="p-0" *ngSwitchCase="1">Nữ </span>-->
<!--                <span id="sp1" class="p-0" *ngSwitchCase="0">Nam </span>-->
<!--                <span id="sp2" class="p-0" *ngSwitchDefault>LGBT </span>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Số điện thoại</td>-->
<!--              <td class="text-center">{{employee.employeePhone}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Ngày sinh</td>-->
<!--              <td class="text-center">{{employee.employeeBirthday | date: "dd/MM/yyyy"}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Lương</td>-->
<!--              <td class="text-center">{{employee.employeeSalary | currency: 'VND' :'symbol' : '1.0-0'}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-center item">Vị trí</td>-->
<!--              <td class="text-center">{{employee.level.levelName}}</td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer" style="padding-right: 100px">-->
<!--        <button id="btDetail" class="btn btn-warning" data-dismiss="modal" type="button" style="color: black">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">-->
<!--            <path d="M0 0h24v24H0V0z" fill="none"/>-->
<!--            <path-->
<!--              d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"/>-->
<!--          </svg>-->
<!--          Quay lại-->
<!--        </button>-->
<!--        <button class="btn btn-warning" id="btDetail2" data-dismiss="modal"-->
<!--                (click)="dataEdit(this.employee.account.accountUsername)" type="button">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">-->
<!--            <path d="M0 0h24v24H0V0z" fill="none"/>-->
<!--            <path-->
<!--              d="M22 19h-6v-4h-2.68c-1.14 2.42-3.6 4-6.32 4-3.86 0-7-3.14-7-7s3.14-7 7-7c2.72 0 5.17 1.58 6.32 4H24v6h-2v4zm-4-2h2v-4h2v-2H11.94l-.23-.67C11.01 8.34 9.11 7 7 7c-2.76 0-5 2.24-5 5s2.24 5 5 5c2.11 0 4.01-1.34 4.71-3.33l.23-.67H18v4zM7 15c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/>-->
<!--          </svg>-->
<!--          Đổi mật khẩu-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div style="min-width: 500px" class="mt-5">
  <h1 class="text-center"><strong>Xem chi tiết</strong></h1>
  <table id="tbDetail" class="w-100">
    <tr>
      <th class="w-25 text-center">Tài khoản</th>
      <td class="text-center">{{employee.account.accountUsername}}</td>
    </tr>
    <tr>
      <th class="text-center item">Họ và tên</th>
      <td class="text-center">{{employee.employeeName}}</td>
    </tr>
    <tr>
      <th class="text-center item">Địa chỉ</th>
      <td class="text-center">{{employee.employeeAddress}}</td>
    </tr>
    <tr>
      <th class="text-center item">Giới tính</th>
      <td class="text-center" [ngSwitch]="employee.employeeGender">
        <span id="sp" class="p-0" *ngSwitchCase="1">Nữ </span>
        <span id="sp1" class="p-0" *ngSwitchCase="0">Nam </span>
        <span id="sp2" class="p-0" *ngSwitchDefault>LGBT </span>
      </td>
    </tr>
    <tr>
      <th class="text-center item">Số điện thoại</th>
      <td class="text-center">{{employee.employeePhone}}</td>
    </tr>
    <tr>
      <th class="text-center item">Ngày sinh</th>
      <td class="text-center">{{employee.employeeBirthday | date: "dd/MM/yyyy"}}</td>
    </tr>
    <tr>
      <th class="text-center item">Lương</th>
      <td class="text-center">{{employee.employeeSalary | currency: 'VND' :'symbol' : '1.0-0'}}</td>
    </tr>
    <tr>
      <th class="text-center item">Vị trí</th>
      <td class="text-center">{{employee.level.levelName}}</td>
    </tr>
  </table>
  <div class="d-flex justify-content-center">
    <button id="btDetail" mat-dialog-close="" class="btn btn-warning mr-1" type="button" style="color: black">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path
          d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L3.71 8.71C3.08 8.08 2 8.52 2 9.41V15c0 .55.45 1 1 1h5.59c.89 0 1.34-1.08.71-1.71l-1.91-1.91c1.39-1.16 3.16-1.88 5.12-1.88 3.16 0 5.89 1.84 7.19 4.5.27.56.91.84 1.5.64.71-.23 1.07-1.04.75-1.72C20.23 10.42 16.65 8 12.5 8z"/>
      </svg>
      Quay lại
    </button>
    <button class="btn btn-warning ml-1" id="btDetail2" mat-dialog-close
            (click)="dataEdit(this.employee.account.accountUsername)" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path
          d="M22 19h-6v-4h-2.68c-1.14 2.42-3.6 4-6.32 4-3.86 0-7-3.14-7-7s3.14-7 7-7c2.72 0 5.17 1.58 6.32 4H24v6h-2v4zm-4-2h2v-4h2v-2H11.94l-.23-.67C11.01 8.34 9.11 7 7 7c-2.76 0-5 2.24-5 5s2.24 5 5 5c2.11 0 4.01-1.34 4.71-3.33l.23-.67H18v4zM7 15c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/>
      </svg>
      Đổi mật khẩu
    </button>
  </div>
</div>
